body {background-color:black; font-family:arial;color:white;  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.coretext {padding: 50px;}

h1{color:grey;font-family:verdana}

.maindiv {background-color: white; color:black; width:490px; padding:20px; border-radius:25px;}

.output {background-color: yellow;}

.output_section {visibility: hidden;}
