body {background-color:black; font-family:arial;color:white; text-align:center;}
h1{color:grey;font-family:verdana}

.coretext {padding: 50px;}

.maindiv {background-color: white; color:black; width:490px; padding:20px; border-radius:25px;}

.output {background-color: yellow;}
