body {background-color:black; font-family:arial;color:white; margin:0 auto;}

.coretext {padding: 50px;}

h1{color:grey;font-family:verdana}

.maindiv {background-color: white; color:black; width:490px; padding:20px; border-radius:25px;}

.output {background-color: yellow;}

.output_section {visibility: hidden;}
